@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Raleway:wght@300;500;700&display=swap');

::root {
	font-size: 12px;
}

body {
	font-family:'Raleway', sans-serif;
	background:#f5f5f5;
	display:grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows:auto 1fr;
	margin:0;
	padding:0;
	height: 100vh;
}

header {
	grid-column: 1/-1;
	background:#14151f;
	padding:16px;
	color:white;
	font-size:1.4rem;
	display:grid;
	grid-template-columns: 1fr 4fr ;
	align-items:center;
}

header div:first-child {
	justify-self:flex-start;
	font-size:2rem;
	font-weight: 700;
}

#search-bar {
	width:70%;
	padding:0.8rem 1rem;
	font-size:1.2rem;
	border-radius:12px;
	outline: none;
	background: #14151f;
	color:white;
	border:1px solid white;
}

#search-bar:placeholder {
	color: #ccc;
}

#search-bar:focus, 
#search-bar:hover{
	background:white;
	color:black;
}


.projects-pane {
	background:white;
	height:100%;
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
	display:grid;
	grid-template-rows: 1fr auto;
	font-weight:700;
}

.projects-list {
	font-size:1.2rem;
	font-weight: 500;
	padding-top:40px;
}

.projects-list > div{
	padding:5px 30px;
}


#open-project-dialog {
	padding:20px;
	border:none;
	border-top:1px solid #ccc;
	background:transparent;
	outline:none;
	color: #2b2b2b;
	font-size:1.2rem;
}

#open-project-dialog:hover {
	cursor:pointer;
}

.main-content {
	padding:20px 0px 0px 80px;
}

.project-description {
	font-size:1.4rem;
}

h1 {
	margin-bottom:10px;
	padding:0;
	font-size:3.4rem;
/*	font-style: italic;*/
}

h3 {
	font-size:1.8rem;
	text-align:center;
}

p {
	margin:0;

}

dialog {
	border:none;
	box-shadow: 0 0 5em rgba(0, 0, 0, 0.3);
	border-radius:12px;
	padding:20px;
}

form {
	display:flex;
	flex-direction:column;
}

.form-content {
	display:flex;
	flex-direction: column;
	gap:20px;
}

.input-desc {
	display:flex;
	justify-content: space-between;
}

.form-content input,
.form-content textarea {
	width:300px;
	padding:8px 12px;
	font-family: 'Raleway', sans-serif;
}

.form-content textarea {
	resize:none;
}

.form-row {
	display:flex;
	gap:5px;
	flex-direction:column;
}

.form-footer{
	padding-top:20px;
}

.form-footer button {
	width:100%;
	padding:8px 12px;
}



dialog::backdrop {
	background:rgba(0,0,0,0.6);
}