@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Raleway:wght@300;500;700&display=swap');

::root {
	font-size: 12px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}


body {
	font-family:'Raleway', sans-serif;
	background:#f5f5f5;
	display:grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows:auto 1fr;
	margin:0;
	padding:0;
	height: 100vh;
}

header {
	grid-column: 1/-1;
	background:#14151f;
	padding:16px;
	color:white;
	font-size:1.4rem;
	display:grid;
	grid-template-columns: 1fr 4fr ;
	align-items:center;
}

header div:first-child {
	justify-self:flex-start;
	font-size:2rem;
	font-weight: 700;
}

#search-bar {
	width:70%;
	padding:0.8rem 1rem;
	font-size:1.2rem;
	border-radius:12px;
	outline: none;
	background: #14151f;
	color:white;
	border:1px solid white;
}

#search-bar:placeholder {
	color: #ccc;
}

#search-bar:focus, 
#search-bar:hover{
	background:white;
	color:black;
}


.side-bar {
	background:white;
	height:100%;
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
	display:grid;
	grid-template-rows: 1fr auto;
	font-weight:700;
}

.project-navigation {
	font-size:1.2rem;
	padding: 40px 15px 0px 15px;
}

#general, #categories {
	padding:10px 10px;
	border-radius:12px;
}

#categories {
	text-transform: uppercase;
	font-weight:500;
	margin-top:20px;
	color:#c5c5c5;
} 

.projects-list > div {
	padding:10px 20px;
}

.projects-list > div, 
#general  {
	border-radius:12px;
}

.projects-list > div:hover,
#general:hover {
	cursor:pointer;
	background: rgba(0,0,0,0.3);
}

#open-project-dialog {
	padding:20px;
	border:none;
	border-top:1px solid #ccc;
	background:transparent;
	text-align:left;
	outline:none;
	color: #2b2b2b;
	font-size:1.2rem;
}

#open-project-dialog:hover {
	cursor:pointer;
	background:rgba(0,0,0,0.3);
}

#main-content {
	padding:40px 0px 0px 80px;
	display:flex;
	flex-direction:column;
	gap:20px;
}

.btn-flex {
	display:flex;
	gap:10px;
}

.btn-flex-right {
	justify-content: flex-end;
}

#task-container {
	display:flex;
	flex-direction: column;
	gap:5px;
	width:80%;
}

.taskCard {
	box-shadow:0px 0px 5px rgba(0,0,0,0.3);
	position:relative;
	background:white;
	width:100%;
	padding:10px 20px;
	font-size:1.2em;
	display:grid;
	align-items:center;
	grid-template-columns:3fr 80px 1fr auto;
	gap:20px;
}

.taskCard:hover {
	cursor:pointer;
}

.taskCard.complete {
	background:rgba(0,0,0,0.3);
	box-shadow:none;
/*	text-decoration: line-through;*/
}

.taskCard.complete:before {
	content : '';
	position:absolute;
	top:50%;
	left:0;
	border-bottom:1px solid black;
	width:100%;
}

input[type="checkbox"],
input[type="checkbox"]::before,
input[type="checkbox"]::after {
	margin:0;
}

input[type='checkbox']  {
	width:20px;
	height:20px;
}

.project-description {
	font-size:1.4rem;
}

.btn {
	text-transform: uppercase;
	background:#1088eb;
	border:2px solid transparent;
	border-radius:8px;
	color:white;
	padding:8px 12px;
	font-weight: 500;
}


.btn:hover {
	cursor:pointer;
	transform: scale(1.01);
}

.primary-btn {
	background:#1088eb;
}

.delete-btn {
	background:red;
}

.detail-btn {
	background:transparent;
	color:black;
	border:1px solid green;
	text-align:center;
}

.ghost-btn {
	background:white;
	color:black;
}

h1 {
	padding:0;
	margin:0;
	font-size:3.4rem;
/*	font-style: italic;*/
}

h3 {
	font-size:1.8rem;
	text-align:center;
}

p {
	margin:0;

}

dialog {
	border:none;
	box-shadow: 0 0 5em rgba(0, 0, 0, 0.3);
	border-radius:12px;
	padding:20px;
	background:#14151f;
	color:white;
}

form {
	display:flex;
	flex-direction:column;
}

.form-content {
	display:flex;
	flex-direction: column;
	gap:20px;
}

.input-desc {
	display:flex;
	justify-content: space-between;
}

input,
textarea,
select {
	width:340px;
/*	margin:0 auto;*/
	padding:8px 12px;
	font-family: 'Raleway', sans-serif;
	background:transparent;
	border-color:white;
	color:white;
}

.form-content option {
	color:black;
}

.form-content textarea {
	resize:none;
}

.form-row {
	display:flex;
	gap:5px;
	flex-direction:column;
}

.form-footer{
	padding-top:20px;
	text-align:center;
}

.form-footer button {
	margin:0 auto;
	width:120px;
	border-radius:8px;
	padding:12px 16px;
	background:#1088eb;
	color:white;
}


dialog::backdrop {
	background:rgba(0,0,0,0.6);
}

#task-detail-dialog {
	max-width:800px;
	width:100%;
}

.task-detail-container {
	display:grid;
	grid-template-rows:auto 300px auto;
}

.task-description {
	overflow-y: auto;
}

.task-detail-header {
	display:flex;
	align-items:center;
	justify-content: space-between;
}